* {
    padding: 0;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

header {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: #003049;
    position: sticky;
    padding: 0;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;

}

.headertitle {
    height: 70px;
    width: 100%;
    text-align: center;
    color: white;
    position: sticky;
    padding: 0;
    top: 0;
    left: 0;
    font-size: 60px;
}

.menu {
    background-color: #B08968;
    height: 300px;
    width: 15%;
    position: absolute;
    top: 70px;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 100;

}

#menu_switcher:checked~.menu {
    transform: translateX(0%);

}

#menu_switcher {
    display: none;
}

.menu li a {
    padding: 20px;
    color: #b2a496;
    text-align: center;
    font-size: 30px;
    margin: 10px 30px;
    /*border-bottom: 3px solid #ffffff;*/
    text-decoration: none;

}

body {
    background-color: #E0E1DD;
    margin: 0;
}

.video1 {
    margin: 100px 180px;
    display: grid;
    width: 70%;
    align-items: center;
    position: relative;
    left: 60px;

}

h2 {
    /*background-color: #B08968;*/
    height: 50px;
    width: auto;
    color: #172b54;
    padding: 5px;
    margin: 30px 180px;
    display: grid;
    width: 70%;
    margin-left: 230px;
    font-size: 50px;
    text-align: center;


}

.hamburger {
    width: 50px;
    height: 70px;
    position: absolute;
    left: 5px;
    display: block;
    cursor: pointer;
}

.hamburger_line {
    width: 40px;
    height: 3px;
    background-color: #b2a496;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 10px 0px #b2a496, 0px -10px 0px#b2a496;
}

.logo {
    display: none;
}

.prev:hover,
.next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.array {
    width: 200px;
    height: 400px;
    display: grid;
    width: 70%;
    padding: 0px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;
    margin-left: 260px;

}

.item_img img {
    padding: 10px 10px;
    width: 200px;
    margin: 10px;
    margin-left: 14px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    /* 添加过渡效果 */

}

.item_img img:hover {
    transform: translateY(-10px);
    /* 当鼠标悬停时向上移动10像素 */
}




.item {
    width: 250px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

    margin: 10px 5px;


}

.item_text {
    cursor: pointer;
}

.item_price {
    text-align: left;
    padding: 10px;
    top: 80px;
    bottom: 10px;
    font-size: 20px;
}

footer {
    height: 70px;
    width: 100%;
    background-color: #b2a496;
    text-align: center;
    color: white;
    position: relative;
    bottom: -1100px;

}